@charset 'UTF-8';
body,
ul,
p,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wrapper {
  width: 1200px;
  margin: 0  auto;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f5f6f6;
}
.header .wrapper {
  display: flex;
  align-items: center;
  height: 95px;
}
.header .wrapper img {
  width: 450px;
}
.header .wrapper .nav {
  flex: 1;
}
.header .wrapper .nav ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}
.header .wrapper .nav ul li {
  height: 50px;
}
.header .wrapper .nav ul li:hover {
  background-color: skyblue;
}
.header .wrapper .nav ul a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding: 0 15px;
  font-size: 14px;
  color: #333333;
}
.banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  background-image: url(../image/JAVAkecheng（shoujiban）2-02-172020-093933.jpg);
  background-size: 100%;
}
.banner .left {
  position: relative;
}
.banner .left .glyphicon-chevron-left {
  position: absolute;
  right: 40px;
  font-size: 30px;
  line-height: 500px;
  color: #ffffff;
}
.banner .left:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
}
.banner .right {
  position: relative;
}
.banner .right .glyphicon-chevron-right {
  position: absolute;
  left: 20px;
  font-size: 30px;
  line-height: 500px;
  color: #ffffff;
}
.banner .right:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
}
.banner a {
  width: 200px;
  height: 100%;
}
.introduce {
  padding: 30px 0;
}
.introduce > h4 {
  font-size: 25px;
  text-align: center;
}
.introduce > p {
  text-align: center;
}
.introduce ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.introduce ul li {
  width: 270px;
}
.introduce ul li a span {
  display: block;
  text-align: center;
  background-color: #f0f0f0;
  color: #333333;
  height: 45px;
  line-height: 45px;
}
.introduce ul li > span {
  display: block;
  margin: 10px;
  font-size: 12px;
  text-align: center;
  text-indent: 1em;
}
.introduce ul li:hover {
  box-shadow: 0 0 30px #d0d0d0;
}
.school {
  display: flex;
  background-image: url(../image/section1_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
}
.school .school-top {
  display: flex;
  height: 400px;
}
.school .school-top .text {
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
  color: #ffffff;
}
.school .school-top .text p {
  line-height: 30px;
  padding-bottom: 10px ;
  font-size: 12px;
}
.school .school-top .text a {
  position: absolute;
  right: 0;
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  color: #666;
}
.school .school-bottom ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.school .school-bottom ul li {
  padding: 20px 10px;
  width: 290px;
  background-color: #fff;
}
.school .school-bottom ul li .glyphicon-floppy-remove {
  font-size: 50px;
  color: #1c6bb4;
}
.pay {
  height: 650px;
}
.pay .bjt {
  padding-top: 30px;
  height: 650px;
  background-image: url(../image/xz_bg.jpg);
  background-size: cover;
}
.pay .bjt table {
  width: 100%;
}
.pay .bjt table tbody {
  overflow: hidden;
}
.pay .bjt table h3 {
  text-align: center;
  color: #333333;
}
.pay .bjt table th {
  text-align: center;
  background-color: #79c8f5;
}
.pay .bjt table tr {
  height: 40px;
  border-top: 2px solid #fff;
  overflow: hidden;
  background-color: #f4f4f4;
}
.pay .bjt table tr td {
  overflow: hidden;
  text-align: center;
}
.pay .bjt table tr td:nth-child(7) {
  background-color: #79c8f5;
}
.project {
  padding-top: 20px;
  background-image: url(../image/col10_bg.jpg);
  background-size: 100%;
  background-attachment: fixed;
  height: 750px;
}
.project .txt {
  color: #ffffff;
  text-align: center;
}
.project .txt h3 {
  font-size: 30px;
}
.project .txt p {
  font-size: 12px;
}
.project .main {
  display: flex;
}
.project .main li {
  width: 566px;
  height: 500px;
}
.project .main .js {
  flex: 1;
  padding-left: 20px;
}
.project .main .js a {
  display: flex;
  margin-top: 20px;
  width: 100%;
}
.project .main .js a span {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}
.project .main .js a div {
  padding-left: 10px ;
  color: #fff;
}
.teacher {
  padding-top: 30px;
}
.teacher .teacher-top {
  display: flex;
  justify-content: center;
}
.teacher .teacher-top .pp {
  width: 330px;
  height: 440px;
}
.teacher .teacher-top .name {
  margin: 80px 0 0 20px;
  width: 163px;
  height: 163px;
  background-image: url(../image/a_team_bg.png);
  line-height: 163px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
.teacher .teacher-top .a_team_cir,
.teacher .teacher-top .a_team_cir1 {
  width: 395px;
  height: 395px;
  border-radius: 50%;
}
.teacher .teacher-top .a_team_cir {
  position: relative;
  left: -18px;
  padding: 12px;
  border: 2px solid #cacaca;
}
.teacher .teacher-top .a_team_cir1 {
  display: table;
  background: #f5f5f5;
  text-align: center;
  vertical-align: middle;
}
.teacher .teacher-top .a_team_cir1 p {
  display: table-cell;
  vertical-align: middle;
  line-height: 28px;
  padding: 0px 0px;
  font-size: 12px;
}
.teacher .teacher-bottom {
  padding-top: 40px;
}
.teacher .teacher-bottom ul {
  display: flex;
  justify-content: center;
}
.teacher .teacher-bottom ul li {
  width: 116px;
  height: 155px;
  margin-right: 10px;
}
.environment {
  padding-top: 30px;
  padding-bottom: 50px;
  background-image: url(../image/con6_bg.jpg);
}
.environment .top {
  text-align: center;
}
.environment .top P {
  position: relative;
  font-size: 12px;
}
.environment .top P a {
  position: absolute;
  right: 0;
  color: #333;
}
.environment .class {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s;
}
.environment .class .i {
  overflow: hidden;
}
.environment .class a {
  width: 24%;
}
.environment .class a:hover img {
  transform: scale(1.3);
}
.environment .class a:hover p {
  background-color: skyblue;
}
.environment .class a p {
  padding: 10px 0;
  background-color: #444444;
  text-align: center;
  color: #fff;
}
.activity {
  margin-bottom: 200px;
  padding-top: 30px;
}
.activity .top {
  text-align: center;
}
.activity .top h4 {
  font-weight: bold;
}
.activity .top p {
  position: relative;
  font-size: 12px;
}
.activity .top p a {
  position: absolute;
  right: 0;
  color: #333;
}
@keyframes update {
  to {
    transform: translateY(-400px);
  }
}
@keyframes fangda {
  to {
    transform: scale(1.2);
  }
}
